body {
    /* background-color: #f8f9fa; */
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100vh;
    flex-direction: column; 
    
}
.headerIndex{
    display: grid;
    justify-content: center;
}

.logoIndex img{
    text-align: center;
    width: 225px;
    height: auto;
   
}

.contentIndex {
    display: flex;
    flex-direction: column;
    padding: 25px;
    text-align: center;
    border-radius: 8px;
    background-color: #e9ecef;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 10);
    
}
.contentIndex p{
    font-family:sans-serif;
}
.selectAreaIndex{

    display: grid;
    grid-template-areas:
    'vizuReg novoCad';
    
}
.selectAreaIndex a{
    text-decoration: none;
}
.selectAreaIndex button {
    color: #fff;
    padding: 8px 22px;
    background-color: #1E1F7C;
    transition: all 0.2s ease;
    border-radius: 6px;
}
.selectAreaIndex button:hover {
    transition-duration: 0.5s;
    background-color: rgb(18, 0, 107);
}
.novoCad{
    margin-left: 15px;
}

.selectAreaIndex button:active{
    transform: scale(0.96);
}